body {
    background-color: rgb(36,181,201);
    font-family: "Open Sans", "Times New Roman";
    margin:auto;
}

header {
    width:100%;
    background-color:rgba(6,24,61);
    margin:0;
    height:48px;
}

div img {
    width: 100%;
}

li {
    display:inline;
    text-decoration:none;
}

#profiel {
    width: 5%;


}

#eurostar {
    width:90%;
    float:left;
     margin:0;

}

#formulier {
    background-color: rgba(6,24,61);
    color:rgba(6,24,61);
    padding:20%;
    margin:10px;
    border-radius: 4px;
}

#formulier div {
    background-color:white;
    padding:10%;
    border-radius:4px;
    margin: 0;
}

legend {
    color:white;
    text-align:left;
    border-radius:4px;
}

#ontdek {
    color: rgba(6,24,61);
    background-color:yellow;
    text-decoration:none;
    text-transform: uppercase;
    text-align:center;
    padding:2px;
    border-radius: 4px;
    /*bron:eurostar site*/
    box-shadow: rgb(222, 194, 4) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
    color: rgba(6,24,61);
    padding-top:9px;
    padding-bottom:9px;
    padding-left:24px;
    padding-right:24px;
    /*bron:eurostar site*/
}

section {
    background-color:white;

}

container img {
    width:100%;
}

/*bron:https://www.w3schools.com/howto/howto_css_image_text.asp*/
.container {
    position: relative;
    text-align: center;
    color: white;
    text-transform:uppercase;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 10px;
}

/*stopt hier*/

.ontdek {
    position:absolute;
    text-align:left;
    bottom: 30px;
    left:10px;
}

#submit {
    color: rgba(6,24,61);
    background-color:yellow;
     /*bron:eurostar site*/
    box-shadow: rgb(222, 194, 4) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
    color: rgba(6,24,61);
    padding-top:9px;
    padding-bottom:9px;
    padding-left:24px;
    padding-right:24px;
    /*bron:eurostar site*/
    margin-top:5ppx;
    text-transform: uppercase;
}

#nav li{
    display:inline;
    text-decoration:none;

}



